%h1 GLSEC NameTag Creation

%p Simple Web Utility to convert <a href="http://regonline.com/">RegOnline</a> Excel Exports into a custom CSV for GR Makers and GSLEC Committee to create and print nametags for guests.

%ul
	%li
		%a{:href => url_for("/settings")} Settings
	%li
		%a{:href => url_for("/upload")} Upload File
