%h1 Welcome

%p Simple Web Utility to convert <a href="http://regonline.com/">RegOnline</a> Excel Exports into a custom CSV for GR Makers and GSLEC Committee to create and print nametags for guests.

%p
	%a{:href => url_for("/upload")} Upload File
