!!!
%html
	%head
		%title= "ltrevisan.net | #{@title}"
		%meta{ :name => "viewport", :content=>"width=device-width, initial-scale=1.0"}
		%link{ :href => url_for('/libs/bootstrap/css/bootstrap.css'), :rel => 'stylesheet', :type => 'text/css' }
		%link{ :href => url_for('/css/main.css'), :rel => 'stylesheet', :type => 'text/css' }
		%link{ :href => url_for('/favicon.ico'), :rel => "icon"}
	%body
		.container
			.row-fluid
				= yield
	